%h1 Hello, world!
%div.flash=flash[:notice] if flash.has_key? :notice
=link_to 'Create an Integration', new_integration_path 
%table.list
  %tr
    %th{:width => 250} Name
    %th Source Control Path
    %th
    %th
  -if @integrations.empty?
    %tr
      %th{:colspan => 4} No integrations have been created.
  -else
    -@integrations.each do |i|
      %tr
        %td 
          = link_to "#{i.name}", integration_path(i)
          = build_status(i)
        %td= i.repository
        %td= link_to 'Edit', edit_integration_path(i)
        %td= button_to 'Build', enqueue_integration_path(i), :method => :post
